*{
    margin: 0%;
    padding: 0%;
    
    

}

.navbar{
    
     
    height: 60px;
    width: 100%;
    border: 2px solid black;
    background-color: black;
    position: sticky;
    z-index: 10;
    top: 0;
   
    
}
.nav-keys{
    margin-top: -40px;
    margin-left: 600px;
    padding: 10px;
    
}

.bb{
    color: #d6a55c;
    padding: 15px;
    text-decoration: none;
    transition: 1s;
}
.bb:hover{
    color: white;
    transform: scale(1.1);

}
.home{
padding-left: 20px; 

}

.logo{
margin-top: 8px;
margin-left: 8px;




}

.heading{
    margin-top: 100px;
    margin-left: 350px;
    margin-bottom: 40px;
}

.Elevating{
    display: flex;
    background-color: aliceblue;
}

.Elevatingimg{

    margin-left: 10px;
    border-radius: 20px;
}

.elite{

    text-align: center;
    margin-top: 80px;
    color: #766040;
}

.elitepara{
    text-align: center;
    padding-left: 40px;
    font-size: 20px;
}

.Luxuriously{
    display: flex;
    margin-top: 10px;
    background-color: #f7f7f7;
}

.display{
    margin-top: 200px;
    margin-left: 30px;
    text-align: center;
    color: #766040;
}

.displayimg{
    border-radius: 20px;
    margin-left: 150px;

}

.displaypara{

    text-align: center;
    margin-left: 30px;
    font-size: 20px;

}

.our-clinets{
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
}

.clinets-img{
    display: flex;
}

.footer{

    height: 200px;
    width: auto;
    border: 2px solid black;
    background: linear-gradient(135deg, rgba(7, 1, 2, 1) 0%, rgba(28, 27, 25, 1) 21%, rgba(45, 45, 41, 1) 50%, rgba(38, 15, 8, 1) 78%, rgba(10, 5, 5, 1) 100%);
    display: flex;
    justify-content: space-evenly;
    
}

.othermenu{
    margin-top: 50px;

    color: #bb8d41;
    
}

.CONTACT-US{
    color: #bb8d41;
    margin-top: 50px;

}

.FOLLOW-US{
    color: #bb8d41;
    margin-top: 50px;
}
.Refund{
    color: rgb(255, 212, 156);
}

.icone{

    padding: 3px;
}

.rights{
    border: 2px solid black;
    height: 50px;
    width: auto;
    background-color: black;
    text-align: center;
}

.all{
    margin-top: 10px;
    color: rgb(129, 129, 129);
}

.alltwo{

    color: white;

}